<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ol.horizont {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 10px;
        }

        ol.horizont li {
            width: 30%;
            vertical-align: center;
            margin-right: 5%;
            display: inline-block;
            padding: 3px;
        }
    </style>
</head>
<body>
<h1>kajsdlfjalsdkf</h1>
{% for x in range(len) %}
{%if x%3 == 0 and x != 0%}
<ol class="horizont">
    <div>
        <li>
            <img width="200" height="200" src="../static/imgs/{{data[x][4]}}">
            <!--<p>{{data[x][4]}}</p>-->
            <h2>{{data[x][1]}}</h2>
            <h3>{{data[x][2]}}</h3>
            <p>{{data[x][3]}}</p>
        </li>
    </div>
    {%elif x//3 == 1 %}
    <div>
        <li>
            <img width="200" height="200" src="../static/imgs/{{data[x][4]}}">
            <!--<p>{{data[x][4]}}</p>-->
            <h2>{{data[x][1]}}</h2>
            <h3>{{data[x][2]}}</h3>
            <p>{{data[x][3]}}</p>
        </li>
    </div>
</ol>
    {%endif%}
{% endfor %}

</body>
</html>